<style type="text/css">
    .page-content {
        min-height: 600px
    }
</style>
<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <li class="submenu">
                <% if(admin_type<=1){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i> 主管理员
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/welcome/list"><i class="glyphicon glyphicon-list"></i>首页</a></li>
                    <li><a href="/v1/log/list"><i class="glyphicon glyphicon-home"></i> 日志查看</a></li>
                </ul>
            </li>
            <li class="submenu">
                <% if(admin_type<=2){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 人员管理
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/person/adminList"><i class="glyphicon glyphicon-list"></i> 管理员管理</a></li>
                    <li><a href="/v1/person/managerList"><i class="glyphicon glyphicon-list"></i> 经理管理</a></li>
                    <li><a href="/v1/person/salesmanList"><i class="glyphicon glyphicon-list"></i> 业务员管理</a></li>
                    <li><a href="/v1/person/add"><i class="glyphicon glyphicon-list"></i> 员工录入</a></li>
                    </li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 客户管理
                    <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="/v1/client/list"><i class="glyphicon glyphicon-list"></i> 客户列表</a></li>
                    <% if(admin_type<=2){ %><li><a href="/v1/client/add"><i class="glyphicon glyphicon-list"></i> 客户录入</a></li>
                    <% }%>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type<=2){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 产品管理
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/product/list"><i class="glyphicon glyphicon-list"></i> 产品型号</a></li>
                    <li><a href="/v1/material/list"><i class="glyphicon glyphicon-list"></i> 原材料管理</a></li>
                    <li><a href="/v1/partCat/add"><i class="glyphicon glyphicon-list"></i>添加配件分类</a></li>
                    <li><a href="/v1/picture/add"><i class="glyphicon glyphicon-list"></i>添加产品图片</a></li>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type<=1){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 报价管理
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/offerAdmin/list"><i class="glyphicon glyphicon-list"></i> 报价管理</a></li>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type==3){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 报价管理
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/offerSale/list"><i class="glyphicon glyphicon-list"></i> 报价管理</a></li>
                    <li><a href="/v1/offerSale/offer_choose"><i class="glyphicon glyphicon-list"></i> 新建报价</a></li>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type==2 ){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 报价管理
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/offerManage/list"><i class="glyphicon glyphicon-list"></i> 报价管理</a></li>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type<=2){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 系统业务字典
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/dictionary/profit_list"><i class="glyphicon glyphicon-list"></i>汇率税率管理</a></li>
                </ul>
            </li>

            <li class="submenu">
                <% if(admin_type<=2){ %>
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 系统录入
                    <span class="caret pull-right"></span>
                </a>
                <% }%>
                <ul>
                    <li><a href="/v1/product/add_product"><i class="glyphicon glyphicon-list"></i>产品(配件)Excel模板导入</a></li>
                    <li><a href="/v1/material/add_materialByExcel"><i class="glyphicon glyphicon-list"></i>原材料Excel模板导入</a></li>
                    <li><a href="/v1/person/add_personByExcel"><i class="glyphicon glyphicon-list"></i> 员工Excel模板导入</a></li>
                    <li><a href="/v1/client/add_clientByExcel"><i class="glyphicon glyphicon-list"></i> 客户Excel模板导入</a></li>
                    <li><a href="/v1/area/add_english_refer"><i class="glyphicon glyphicon-list"></i> 中英文对照Excel模板导入</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 系统设置
                    <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="/v1/setup/change"><i class="glyphicon glyphicon-list"></i> 修改登录密码</a></li>
                </ul>
            </li>


        </ul>
    </div>
</div>